.navbar{
    background-color: transparent;
    height: 88px;
    padding: 0.5rem;
    
   
}
nav.navbar {
    transition: background-color 0.3s ease;
  }
.navbar .navbar-brand{
    font-weight: 500;
    color:#dc3545;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button{
    color: white;
    text-decoration: none;
    border: 1.5px solid yellow;
    padding: 3px 10px;
    border-radius: 10px;
    transition: 0.3s color;
}
.login-button:hover {
    color: black;
    background-color: yellow !important;
    cursor: pointer;
}

.navbar .navbar-toggler{
    border: none;
    font-size: 1.25rem;
   
    
}

.navbar .navbar-toggler:focus, .btn-close:focus{
    box-shadow:none;
    outline: none;
}
.navbar .nav-link{
    color: white;
    font-weight: 800;
    position: relative;
}
.navbar .nav-link:hover, .navbar .nav-link.active-page{
    color:#e2d703;
}

@media (min-width:991px){
   
    .login-button{
        padding: 6px 20px;
    }
}
.navbar-toggler-icon{
    --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.account{
    border-radius: 20%;
    border: 2px solid transparent;
    color: white;
    transition: 0.3s color;
}
.account:hover{
    border: 2px solid white;
    background-color: #e3d804;
    color: black;
    cursor: pointer;

}
/* user modal*/

#userModal .modal-content{
    min-width: 900px;
    min-height: 600px;
}
.barcode{
    border: 2px solid black;
}
/*carousel-slider*/
.carousel{
   
    display: flex;
    justify-content: center;
}


.carousel-item img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: brightness(40%);
}
.hero-image img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: brightness(30%);
}
.image-text, .movie-poster{
    padding: 90px;
    position: absolute;
    top: 88.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}
.image-text{
    background-color: rgba(33, 37, 41, 0.5);
    
}
.sub-poster{
    font-size: 15px;
}
.movie-poster{
    width: 420px;
    top: 18%;
    left: 19%;
    
    
}
.description{
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.title-poster{
    position: absolute;
    top: -50%;
    left: 34%;
    transform: translate(-50%, -50%);
}

.movie-poster img{
    filter: brightness(90%) !important;
    border-radius: 10px;
}
.carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    

}
/* modal-carousel-video*/


.modal-show{
    min-width: 900px;
    min-height: 500px;
    background-color: transparent !important;
}

/* Shows */
.container-shows{
    background: url(images/showing-1.png) center;
    padding: 50px;
}
.container-shows .row{
    margin-top:40px;
}
 .image-wrapper a{
    text-decoration: none;
   
}
.card-body h5, .card-body span{
    color: white;
    transition: 0.3s color;
    font-size: 17px;
}

.card-body h5:hover{
    color: yellow;
}
.card-body span{
    font-weight: 450;
    color: yellow;
}
.header-shows, .row{
    padding: 0px 40px;
}
.shows-link-btn{
    text-transform: capitalize;
    padding: 13px 15px;
    font-size: 15px;
    border-radius: 15px;
    margin-right: 15px;
    background-color: #21232b;
    color: white;
    font-weight: 500;
    border: none;
    transition: 0.3s color;
}
.header-shows .last{
    margin-right:0px;
}
.shows-link-btn:hover{
    color: yellow;
}
.row-box a img:hover{
    filter: brightness(130%);
}
.row-box a img{
    border-radius: 10px;
}
.sub-title{
    font-size: 11px;
}
.sub-title i, .sub-title .box-1{
    color: yellow;
}

/* discount section*/
.discount-section{
    background: url(images/bg-discount.jpg) center;
    padding: 50px;
    
}
.discount-section .div-box1{
    
    padding:40px;
}
.discount-section .row{
    width: 100%;
}
.div-box1{
    background: url(images/wrapper-discount.jpg) center;
    border: 30px solid #e3d804;
    width: 500px;
}

.div-box1 h2{
    font-size: 40px;
}
#line{
    color: #e3d804;
}
.icon-monitor{
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    border:2px dashed #e3d804;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s color;
    
}
.icon-monitor:hover{
    background-color: #e3d804;
    color: #21232b;
    cursor: pointer;
}
.sub-details hr{
    border-top: 1px dashed grey;
}

/* upcoming section*/
.upcoming{
    background: url(images/upcoming.jpg) center;
    padding: 50px;
}
.form-wrapper .form-control, .form-warpper #exampleFormControlTextarea1{
    background-color: transparent;
    align-self: center;
    
}
.box-contact{
    padding: 60px;
    border: 2px solid  white;
    border-radius: 14px;
    
}
.box-contact:hover, .box-contact i:hover{
    background-color: #e3d804;
    color: black !important;
    cursor: pointer;
    
}
.box-contact i{
    font-size: 80px;
    
    
}
.box-contact{
    color: white;
}

article{
    background: url(images/article.jpg) center;
    padding: 50px;
}
.article-title h2{
    font-weight: 700;
    text-transform: uppercase;
}
.article-email  .email-wrapper{
    border: 2px solid black;
    background-color: white;
    padding: 3px;
    box-shadow: 0px 0px 5x 0px rgba(0, 0, 0, 0.5);
}
.article-email  .email-wrapper input{
    border: none;
    padding-left: 30px;
    outline: none;
    height: 50px;
}
.article-email  .email-wrapper button{
    background-color: #171d21;
    color: #e3d804;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s color;
    
}
.article-email  .email-wrapper button:hover{
    background-color: #e3d804;
    color: #171d21;
}

/* footer */
footer{
 background: url(images/footer-bg.jpg) center;
 padding: 50px;
}
.footer-link{
    text-decoration: none;
    color: #c2bfbd;
    font-weight:500;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s color; 

} .footer-item .top{
    font-weight: 800;
    font-size: 14px;
}
.footer-icon{
    text-decoration: none;
    color: #c2bfbd;
    font-size: 20px;
    transition: 0.3s color;    
}

.footer-icon:hover, .footer-link:hover{
    color: #e3d804;
}
footer hr{
    border-top: 3px solid rgb(78, 77, 77);
    opacity: 50%;
}   
.bottom-footer span p{
    color: #e3d804;
}
.bottom-footer span, .bottom-footer span p{
    font-size: 13px;
}
form label{
    color:white;
}